/*Desktop Grid*/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.sidebar {
    grid-column: 1/4;
    grid-row: 1/8;
    background-color:#C4C4C4;
}

.workCards {
    grid-column: 4/13;
    grid-row: 1/6;
}

.footer {
    grid-column: 4/13;
    grid-row: 7;
}

.task {
    grid-column: 4/10;
    grid-row: 2;
}

.contact {
    grid-column: 4/10;
    grid-row: 2;
}

.requirements {
    grid-column: 4/10;
    grid-row: 3;
}

.process {
    grid-column: 4/10;
    grid-row: 4;
}

.solution {
    grid-column: 4/10;
    grid-row: 5;
}

.workCard1.work{
    grid-column: 4/10;
    grid-row: 3;
}

.workCard2.work {
    grid-column: 4/10;
    grid-row: 4;
}

.workCard3.work {
    grid-column: 4/10;
    grid-row: 5;
}


/*Mobile Grid*/
