/*Generic Styling*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #E2E2E2;
}

/*Header Styling*/
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header h1 {
    padding: 10px 50px;
    align-self: center;
}

.sidebar img {
    height: 100px;
    width: 100px;
    border-radius: 500px;
    border: 2px solid #000000;
    display: block;
    margin: 0 auto 25px auto;
}

/*Nav Styling*/
.sidebar nav ul {
    margin: 0;
    padding: 0;
    margin: auto 0;
    list-style-type: none;
}

.sidebar li {
    text-align: center;
    padding: 0 15px;
    margin: 10px 0;
}

.sidebar a, a:visited{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
}

.sidebar nav a:hover {
    text-decoration: none;
    border: 1px solid #003089;
    border-radius: 5px;
}

.sidebar a.selected {
    color: #ffffff;
    background-color: #750000;
    border-radius: 5px;
}

/*Title Styling*/
.sidebar h1 {
    padding: 10px 25px;
    text-align: center;
    font-size: 24px;
}

.task p, .requirements p, .process p, .solution p {
    color: #000000;
}

/*Work Card Styling*/

.workCards {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workCard1, .workCard2, .workCard3 {
    width: 450px;
    height: 375px;
    margin: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.58);
}
.workCard1 div, .workCard2 div, .workCard3 div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    height: 351px;
    max-height: 100%;
    display: none;
    background-color: #003089ce;
    align-items: center;
    justify-content: center;
}

.workCard1:hover div, .workCard2:hover div, .workCard3:hover div {
    display: flex;
    border: 2px solid rgb(250, 0, 0);
}

.workCard1 h2, p, .workCard2 h2, p, .workCard3 h2, p {
    text-decoration: none;
    color: #FFFFFF;
}
.workCard1 {
    background: url("../Assets/Brief1Images/smallBrief.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.workCard2 {
    background: url("../Assets/Brief2Images/bigbrief.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.workCard3 {
    background: url("../Assets/PortfolioBuild/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.work {
    display: flex;
    flex-wrap: nowrap;
    background: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #a6c5ff;
}

.work img {
    margin: 10px 25px;
    width: 400px;
    height: 250px;
    float: left;
    border-radius: 30px;
}


.work h2, .work p {
    color: #000000;
    margin-right: 25px;
}

/*Casestudy styling*/
.process img {
    width: 650px;
    height: auto;
    border: 2px solid #000000;
    margin: 5px;
}

.process img.vertical {
    width: 220px;
    height: auto;
    border: 2px solid #000000;
}

.work a {
    text-decoration: none;
}

.contact a {
    text-decoration: none;
    color: #000000;
}

.contact {
    height: 600px;
}

/*Footer Code*/
footer {
    display: flex;
    height: 100px;
    background-color: #C4C4C4;
    justify-content: space-between;
    align-items: center;
    
}

footer p {
    color: #000000;
    font-size: 20px;
    line-height: 100px;
    margin-left: 20px;
}

footer img {
    height: 60px;
    width: 60px;
}

footer .icon {
    margin-right: 20px;
}

.icon img {
    padding: 10px;
}

@media screen and (max-width: 975px) {
    
    .header {
        flex-wrap: wrap;
        height: 150px;
        width: 100%;
        justify-content: center;
    }
    .header nav {
        padding: 0 15px;
    }
    .header nav li {
        padding: 0;
    }

    .workCard1, .workCard2, .workCard3 {
        width: 275px;
        height: 180px;
    }

    .work {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .work img {
        margin: 10px 5px;
        width: 200px;
        height: 125px;
        border-radius: 30px;
    }

    /*Casestudy styling*/
    .process img {
        width: 250px;
        height: auto;
        border: 2px solid #000000;
    }
}

@media screen and (max-width: 450px) {
    .work img {
        display: none;
    }

    .work h2 {
        font-size: 15px;
        text-align: center;
    }

    .work p {
        font-size: 12px;
        text-align: center;
    }
}

