html, body {
    margin: 0;
    padding: 0;
    background-color: #373737;
    font-family: 'Roboto Slab', serif;  
}

/*Header Styling*/
.header {
    height: 100px;
    width: 100%;
    background-color: #FF8000;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.header h1 {
    font-size: 32px;
    margin: 0;
    width: 50%;
    padding-left: 50px;
}

.header nav {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.header nav ul {
    padding: 0;
    margin: 0;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    padding: 5px 25px;
    margin: 0 25px;
}

.header a:hover {
    background-color: #59AFFF;
    border-radius: 5px;
}

/*Main Content Styling*/

.grid-container {
    margin: 0 50px;
}

.page-title{
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

.me-img {
    height: 300px;
    width: 300px;
    border-radius: 120px;
    justify-self: center;
    align-self: center;
}

/*Work card styling*/
.work-card, .expanded{
    display: flex;
    width: 450px;
    height: 450px;
    margin: 10px;
    background-color: #AED3FF;
    border: 2px solid #000000;
    border-radius: 10px;
}

.work-card a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    background-color: rgba(55, 55, 55, 0.7);
    width: 450px;
    height: 450px;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.work-card:hover .overlay {
    display: flex;
    border: 2px solid #FF8000;
    border-radius: 10px;
}

.card1 img {
    height: 250px;
}

.card2 img {
    height: 300px;
}

/*Footer Styling*/
.footer {
    background-color: #FF8000;
    display: flex;
    margin-top: 50px;
    height: 100px;
    align-items: center;
    justify-items: center;
}

.icons {
    width: 50%;
    padding-left: 50px;
}

.icons img {
    margin: 10px;
}

.footer p {
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

/*Projects Page Specific Styling*/
.page-header {
    text-align: center;
    color: #FFFFFF;
}

.page-header p {
    width: 50%;
    margin: 0 auto;
}

.work-cards {
    margin-top: 20px;
    justify-self: center;
}

.work-card-expanded {
    width: 1200px;
    height: 550px;
    background-color: #AED3FF;
    align-content: center;
    margin: 30px;
    border: solid #000000 2px;
    border-radius: 10px;
}

.work-card-expanded h2, p {
    width: 600px;
    max-width: 600px;
}

.expanded1 img {
    height: 250px;
}

.expanded2 img {
    height: 250px;
}